{% extends 'main/layout.html' %}

{% block title %}МОУ Кладовицкая ООШ{% endblock %}

{% block content %}
<section class="section_about">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Основные сведения</h2>
         </div>

        <div class="services">
            <div class="services__item">
                <div class="services__title">Полное наименование:</div>
                <div class="services__text">Муниципальное общеобразовательное учреждение Кладовицкая основная общеобразовательная школа</div>
            </div>
            <div class="services__item">
                <div class="services__title">Сокращенное наименование:</div>
                <div class="services__text">МОУ Кладовицкая ООШ</div>
            </div>
            <div class="services__item">
                <div class="services__title">Год основания образовательного учреждения:</div>
                <div class="services__text">1919 год</div>
            </div>

        </div>

        <hr>

        <div class="services">
            <div class="services__item">
                <div class="services__title">Учредитель:</div>
                <div class="services__text">Управление образования администрации Ростовского муниципального района</div>
            </div>
            <div class="services__item">
                <div class="services__title">Адрес места нахождения учредителя:</div>
                <div class="services__text">152153, Ярославская область, г. Ростов, ул. Ленинская, д. 56</div>
            </div>
            <div class="services__item">
                <div class="services__title">Телефон:</div>
                <div class="services__text">8-48(536) 7-90-60</div>
            </div>

        </div>

    </div> <!--/.container-->
</section>
<section class="section_about">
    <div class="container">
        <div class="section__header">
            <h2 class="section__title">Режим работы ОУ:</h2>
        </div>
        <div class="services">
            <div class="services__item">
                <div class="services__title">Дошкольные группы</div>
                <div class="services__text">пятидневная рабочая неделя</div>
            </div>
            <div class="services__item">
                <div class="services__title">Школа</div>
                <div class="services__text">пятидневная учебная неделя.</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}